<div class="container-fluid custom-container">
  <div class="row d-flex align-items-center">
    <div class="col-6 mycase">
      <button type="button" class="btn btn-primary back-btn">
        <i class="fa fa-angle-left" aria-hidden="true"></i>My Case</button>
    </div>
    <div class="col-4 offset-2 add-new text-right">
      <button type="button" class="btn btn-primary" (click)="addNewCase()">
        <span>Add New Case</span>
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
<div class="create-new-case box-container" *ngIf="addNew">
  <div class="row">
    <h2 class="col-8">Create New Case</h2>
    <button type="button" class="col-2 offset-2 btn btn-light">Cancel</button>
    <h3 class="col-12">STEP 1: Please select one of the following</h3>
  </div>
  <div class="row form-row">
    <div class="col-6 div-form-check">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          What is your FA number
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check" (click)="checkedOption($event)">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          What is your site address
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check single-div" (click)="checkedOption($event)">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          What is the Landlord Site Name
        </label>
      </div>      
    </div>
    <div class="col-12 fa-number">
      <label for="exampleFormControlInput1" class="form-label fa-label">FA Number</label>
      <input type="text" class="form-control custom-iptext">
    </div>
    <div class="col-3 offset-9 text-right">
      <button type="button" class="btn btn-secondary">Find My Agreement</button>
    </div>
  </div>

  <div class="row">
    <h3 class="col-12">STEP 2: Choose Your Agreement</h3>
  </div>
  <div class="row choose-agreement">
    <div class="col-3">
      <input type="text" class="form-control custom-iptext" placeholder="I'm looking for">
    </div>
    <div class="col-9 text-right">
      <div clas="row">
        <label class="col-12 large-label">Filters</label>
        <div class="col-12 filter-btn-row">
          <button type="button" class="btn btn-primary f-active-btn">Active</button>
          <button type="button" class="btn btn-primary">Expired</button>
        </div>
      </div>
    </div>
    <hr class="col-12 c-hr">
  </div>
  <div class="row">
    <div class="col-12">
      <mat-carousel  timings="250ms ease-in" [autoplay]="true" interval="3000" color="accent" maxWidth="auto" proportion="25"
                slides="3" [loop]="false" [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
                <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" overlayColor="#00000040" [hideOverlay]="true">
                        <div class="row c-box-row">
                          <div class="col-4 carosel-box">
                            <div class="row">
                              <div class="cb-input"></div>
                              <label class="col-4 offset-8 text-left cb-label">Active</label>
                              <div class="col-12 text-left top-div">
                                <div class="thin-label">Agreement Id: 12345</div>
                                <div class="thic-label">HC234 Greenland</div>
                                <div class="normal-label">FA Number: 123456</div>
                              </div>
                              <div class="col-12 text-left bottom-div">
                                <div class="b-thin">Greenland</div>
                                <div class="b-thic">13 North Road, Greenland</div>
                                <div class="lease-date"><label>Lease Commencement Date </label><span class="date">1/1/2021</span></div>
                                <div class="lease-date"><label>Lease Expiration Date</label><span class="date">12/12/2031</span></div>
                              </div>
                            </div>
                          </div>
                          <div class="col-4 carosel-box carosel-box-active">
                            <div class="row">
                              <div class="cb-input"></div>
                              <label class="col-4 offset-8 text-left cb-label">Active</label>
                              <div class="col-12 text-left top-div">
                                <div class="thin-label">Agreement Id: 12345</div>
                                <div class="thic-label">HC234 Greenland</div>
                                <div class="normal-label">FA Number: 123456</div>
                              </div>
                              <div class="col-12 text-left bottom-div">
                                <div class="b-thin">Greenland</div>
                                <div class="b-thic">13 North Road, Greenland</div>
                                <div class="lease-date"><label>Lease Commencement Date </label><span class="date">1/1/2021</span></div>
                                <div class="lease-date"><label>Lease Expiration Date</label><span class="date">12/12/2031</span></div>
                              </div>
                            </div>
                          </div>
                          <div class="col-4 carosel-box">
                            <div class="row">
                              <div class="cb-input"></div>
                              <label class="col-4 offset-8 text-left cb-label cb-label-ex">Expired</label>
                              <div class="col-12 text-left top-div">
                                <div class="thin-label">Agreement Id: 12345</div>
                                <div class="thic-label">HC234 Greenland</div>
                                <div class="normal-label">FA Number: 123456</div>
                              </div>
                              <div class="col-12 text-left bottom-div">
                                <div class="b-thin">Greenland</div>
                                <div class="b-thic">13 North Road, Greenland</div>
                                <div class="lease-date"><label>Lease Commencement Date </label><span class="date">1/1/2021</span></div>
                                <div class="lease-date"><label>Lease Expiration Date</label><span class="date">12/12/2031</span></div>
                              </div>
                            </div>
                          </div>
                        </div>
                </mat-carousel-slide>
      </mat-carousel>
    </div>
    <div class="col-9 form-check slider-checkbox-div">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Unable to find my Agreement
      </label>
    </div>
    <div class="col-2 text-right">
      <button type="button" class="btn btn-secondary">Proceed</button>
    </div>
  </div>
  <div class="row">
    <h3 class="col-12">STEP 3: What is the issue?</h3>
  </div>
  <div class="row form-row">
    <div class="col-6 div-form-check">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Payment Issue
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check" (click)="checkedOption($event)">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Submit Invoice
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Change of Address
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check" (click)="checkedOption($event)">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Certificate of insurence
        </label>
      </div> 
    </div>
    <div class="col-6 div-form-check">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Change of Owenership
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check" (click)="checkedOption($event)">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Esttoppel/SNDA
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Site Specific
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check" (click)="checkedOption($event)">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Non-renewal / Termination issue
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Property Tax
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check" (click)="checkedOption($event)">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Request for Docs
        </label>
      </div>      
    </div>

  </div>
  <div class="row">
    <h3 class="col-12">STEP 4: What best describes your issue?</h3>
  </div>
  <div class="row form-row">
    <div class="col-6 div-form-check">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          How do I read my check
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check" (click)="checkedOption($event)">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Wrong or missing payment
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Missing or incorrect CPI-increase
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check" (click)="checkedOption($event)">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Sales Tax related
        </label>
      </div> 
    </div>
    <div class="col-6 div-form-check">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Switch to EFT payment
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check" (click)="checkedOption($event)">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Revenue share
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Option Payment Due
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check" (click)="checkedOption($event)">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Reconcilation
        </label>
      </div>      
    </div>
    <div class="col-6 div-form-check single-div" (click)="checkedOption($event)">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Utilities
        </label>
      </div>      
    </div>

  </div>
  <div class="row">
    <h3 class="col-12 read-check">How do i read my check</h3>
    <p class="col-12 big-p">Please see the below image and to know the key points mentioned in the checks</p>
    <div class="col-12 demo-img"></div>
    <hr class="col-12 c-hr">
    <button type="button" class="col-4 offset-5 btn btn-light extra-light">I need more information</button>
    <button type="button" class="col-3 btn btn-primary">Thanks i got my issue resolved</button>
  </div>